@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html{
	scroll-behavior: smooth;
}
header{
	position: absolute;
	z-index: 10;
	width: 100vw;
}


/*nav bar css */
.navbar{

	padding: 1rem 8rem;
	z-index: 1000;
	color: burlywood;
}
 .navbar .navbar-brand{
 	color: blue;

 	font-size: 1.6rem;
 	font-weight: 700;
 	text-transform: uppercase;

 }


#navbarSupportedContent >ul >li:nth-child(n) >a { 
	color: rgba(94,0,97,1);
	font-size: 1.4rem;
	padding: 0 0.8rem;
	text-transform: uppercase;

}

#navbarSupportedContent >ul >li:nth-child(n) > a:hover, 
#navbarSupportedContent >ul >li:nth-child(n) > a:active {
	background-color: black;
	color: green;

}

#navbarSupportedContent > button{
	background-color: #00BF7F;
	font-weight: 600;
	padding: 0.6rem 1.4rem;
	border-radius: 30px;
	text-decoration: none;
	color: #111;

}


.hero{
	position: relative;
	background-image: url(assets/food.jpeg);
	min-height: 100vh; 
	background-size: cover;
	background-position: center;
}
.hero h1{
	font-size: 70px;
	font-weight: 800;
	margin: 0;
	padding: 0;

}
.hero p{
	padding: 0;
	margin: 1em 0 0 0;
	font-size: 20px;
	font-weight: 500;
	text-align: justify;
}
.btn  {
	margin: 1em 0 0 0;
	text-transform: uppercase;
	border: none;
	font-weight: 800;
	padding: 10px 20px;
	border-radius: 20px;
}


/*About section css section*/
.About{
	background-color: #0c8e8a;
	padding: 8px 0;

}

.counter-up{
	padding-bottom: 15px;
	display: flex;
	align-items: center;
	padding: 0 120px;

}

.counter-up .content{
	position: relative;
	z-index: 2;
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: space-between;
}
.content .box{
	width: calc(25% - 30px);
	border: 1px dotted dashed solid double #fff;
	border-radius: 5px;
	padding: 20px;
	align-items: center;
	justify-content: space-evenly;
	color: #fff;
	flex-direction: column;


}
.content .box .icon{
	font-size: 48px;
	color: #e6e6e6;

}
.content .box .counter{
	font-size: 48px;
	color: #f2f2f2;
	font-weight: 500;
	
}
.content .box .text{
	color: #ccc;
	font-weight: 400;
}







/*services section  css*/

.section-padding{
	padding: 15px 0;
	background-color: #d7e8e7;

}
.section-header{
	margin-top: 5px;

}
.section-header h2{
	color: steelblue;
	text-transform: uppercase;
	font-weight: 900;

	}
.single-service{
	transition: .5s;
	text-align: center;
	height: 380px;
	padding: 25px 50px;
}
.single-service .icon{
	background-color: #fff;
	border-radius: 45%;
	box-shadow: 0 2px 15px rgba(0,0,0,0,0.4);
	color: #000;
	display: inline-block;
	height: 70px;
	width: 70px;
	margin-bottom: 15px;


}

.single-service .icon i{
	display: block;
	font-size: 20px;
	line-height: 60px;
	padding: 10px 20px;




}
.single-service .content{
	height: 32px;
	transition: .5s;

}

.single-service .content h3{
	font-size: 20px;
	font-weight: 300;
	line-height: 35px;
	margin: 0;
	text-transform: uppercase;
}
.single-service .content p{
	color: #0a0a0a;
	line-height: 29px;
	margin: 27px 0 0;

}

.single-service:hover{
	background-image: linear-gradient(to bottom,#950740 0%, #04e3f9 100%);
	padding: 40px 50px;
}
 
.single-service:hover .content{
	height: 90px;
}






/*contact widget*/

.chat-btn {
    position: absolute;
    right: 14px;
    bottom: 30px;
    cursor: pointer
}

.chat-btn .close {
    display: none
}

.chat-btn i {
    transition: all 0.9s ease
}

#check:checked~.chat-btn i {
    display: block;
    pointer-events: auto;
    transform: rotate(180deg)
}

#check:checked~.chat-btn .comment {
    display: none
}

.chat-btn i {
    font-size: 22px;
    color: #0bc4f1 !important
}

.chat-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #0bc4f1;
    color: #fff;
    font-size: 22px;
    border: none
}

.wrapper {
    position: absolute;
    right: 20px;
    bottom: 100px;
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.4s
}

#check:checked~.wrapper {
    opacity: 1
}

.chat-header {
    padding: 13px;
    background-color: blue;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
    color: #fff
}

.chat-form {
    padding: 15px
}

.chat-form input,
textarea,
button {
    margin-bottom: 10px
}

.chat-form textarea {
    resize: none
}

.form-control:focus,
.btn:focus {
    box-shadow: none
}

.btn,
.btn:focus,
.btn:hover {
    background-color: blue;
    border: blue
}

#check {
    display: none !important
}






































































/*#contact{
	background: #0c8e8a;
	
}


.heading{
	text-align: center;
	font-size: 45px;
	text-transform: uppercase;
	border-bottom: 10px;
	color: #110b9e;
	text-transform: uppercase;
	font-weight: 900;

}

.btn-info{
	width: 50%;
	letter-spacing: 2px;
	background: transparent;
	transition: all 0.5s ease-in-out;
	color:#FFFFFF ;


}
.btn-info{
	transition: scale(1.1);
}
.btn-info hover:{
	color: #0bd0c7;
}

.icon{
	font-size: 20px;
	color: #FFFFFF;
}

hr{
	width: 100%;
}
*/

/*contact ends*/




/*Footer*/
.footer-container {
	background: steelblue;
	padding-bottom: 10px;


}
.footer-container a{
	color: #fff;
	text-decoration: none;
}
.footer-container a:hover{
	color:#0bd0c7 ;
	text-decoration: none;
}



@media(max-width: 1036px){
	.counter-up{
		padding:50px 50px 0 50px ;
	}
	.content .box{
		width: calc(50% - 30px);
		margin-bottom: 50px;
	}
}

@media(max-width: 580px){

	.content .box{
		width: 100%;
		
	}
}